.ps3-header {
  width: 500px;
  position: absolute;
  background: #00000038;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  right: -2px;
  top: 60px;
  border-radius: 4px;
  padding-right: 0rem;
  opacity: 
  0.8;
}
.ps3-clock-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-right: 4rem;
}

.ps3-datetime {
  font-size: 1.6rem;
  color: #fff;
  width: 100%;
  line-height: 1;
  text-align: right;
  margin-bottom: 0rem;
}

.text-carousel-container {
  width: 496px;
  overflow: hidden;
  min-height: 1.5rem;
  text-wrap: nowrap;
  font-size: 1.4rem;
}