.xmb-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

/* Main category row styling */
.categories {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
}

.category.selected {
  transform: scale(1.1);
  opacity: 1;
}

.icon {
  font-size: 2rem;
}
.name {
  margin-top: 5px;
}

.submenu {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.submenu-icon {
  height: 60px !important;
  width: 60px !important;
  border-radius: 5px;
}

/* rotate icon 360 deg clockwise infintily */
.disc-icon.spin {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submenu-item {
  border-radius: 5px;
  transition: background 0.3s;
}

.submenu-item.active {
  background: rgba(255, 255, 255, 0.3);
}

.submenu-item:nth-child(n) {
  transform: translateY(-50px) !important;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 1px rgba(255, 255, 255, 0.8);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 5px rgba(255, 255, 255, 1);
  }
}

.submenu-glow {
  animation: glow 1s ease-in-out infinite alternate;
}